<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laundry Online</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Barber Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);

        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- Date picker css file -->
    <link href="~/Content/client/css/jquery-ui.css" rel="stylesheet" />
    <!-- //Date picker css file -->
    <!-- responsive tabs --><!-- for pricing section -->
    <link href="~/Content/client/css/easy-responsive-tabs.css" rel="stylesheet" />
    <!-- responsive tabs -->
    <!-- css files -->
    <link href="~/Content/client/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/client/css/style.css" rel="stylesheet" />
    <link href="~/Content/client/css/fontawesome-all.css" rel="stylesheet" />
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <!-- //web-fonts -->

</head>

<body>

    <!--/header-->
    <header>
        <div class="top-bar_sub container-fluid">
            <div class="top-forms text-left mt-3">
                <!--/nav-->
                <div class="header_top">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">
                                        Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#appointment">Delivery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#contact">Cart</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#contact">Login</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#contact">Register</a>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </div>
                <!--//nav-->
            </div>
            <div class="logo text-center">
                <a class="navbar-brand" href="index.html">
                    <i class="fas fa-cut"></i> Laundry <span>Best Laundry Shop</span>
                </a>
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- //footer section -->
    <!-- js-scripts -->
    <!-- js -->
    <script src="~/Content/client/js/jquery-2.2.3.min.js"></script>
    <script src="~/Content/client/js/bootstrap.js"></script><!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- script for responsive tabs -->
    <script src="~/Content/client/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--// script for responsive tabs -->
    <!-- Flexisel-js for-testimonials -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <script src="~/Content/client/js/jquery.flexisel.js"></script>
    <!-- Flexisel-js for-testimonials -->
    <!-- Calendar js for date picker-->
    <script src="~/Content/client/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- Banner Responsiveslides -->
    <script src="~/Content/client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Banner Responsiveslides -->
    <!-- start-smoth-scrolling -->
    <script src="~/Content/client/js/SmoothScroll.min.js"></script>
    <script src="~/Content/client/js/move-top.js"></script>
    <script src="~/Content/client/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->
    <!-- //js-scripts -->

</body>
</html>