
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="banner" id="home">
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li>
                <div class="slider-info bg1">
                    <div class="bs-slider-overlay">
                        <div class="banner-text container">
                            <h5 class="tag text-left mb-3 text-uppercase">We are professional </h5>
                            <h1 class="movetxt text-left agile-title text-uppercase">The Best Place For </h1>
                            <h2 class="movetxt text-left mb-3 agile-title text-uppercase">Laundry Online </h2>
                            <a class="bt mt-4 text-capitalize scroll" href="#about" role="button">
                                read more
                                <i class="fas fa-cut"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-info bg2">
                    <div class="bs-slider-overlay">
                        <div class="banner-text container">
                            <h5 class="tag text-left mb-3 text-uppercase">We are unique</h5>
                            <h4 class="movetxt text-left agile-title text-uppercase">Your Clothes Beauty </h4>
                            <h4 class="movetxt text-left mb-3 agile-title text-uppercase">Our Duty </h4>
                            <a class="bt mt-4 text-capitalize scroll" href="#about" role="button">
                                read more
                                <i class="fas fa-cut"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- services -->
<section class="services py-5" id="services">
    <div class="container-fluid">
        <div class="heading text-center">
            <i class="fas fa-cut"></i>
            <h3 class="heading mb-sm-5 mb-3 text-uppercase">What We Do</h3>
        </div>
        <div class="row service-grids">
            <div class="col-lg-2 col-sm-6 col-12 serviceimage1">

            </div>
            <div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
                <h4>Classic Hair cut</h4>
                <p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
                <a class="bt text-capitalize" href="#" role="button">
                    read more
                    <i class="fas fa-cut"></i>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6 col-12 serviceimage2">

            </div>
            <div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
                <h4>Beard Waxing</h4>
                <p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
                <a class="bt text-capitalize" href="#" role="button">
                    read more
                    <i class="fas fa-cut"></i>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6 col-12 serviceimage3">

            </div>
            <div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
                <h4>Hair Coloring</h4>
                <p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
                <a class="bt text-capitalize" href="#" role="button">
                    read more
                    <i class="fas fa-cut"></i>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
                <h4>Straightening</h4>
                <p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
                <a class="bt text-capitalize" href="#" role="button">
                    read more
                    <i class="fas fa-cut"></i>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6 col-12 serviceimage3">

            </div>
            <div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
                <h4>Beard Trim</h4>
                <p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
                <a class="bt text-capitalize" href="#" role="button">
                    read more
                    <i class="fas fa-cut"></i>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6 col-12 serviceimage1">

            </div>
            <div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
                <h4>Clean Shave</h4>
                <p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
                <a class="bt text-capitalize" href="#" role="button">
                    read more
                    <i class="fas fa-cut"></i>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6 col-12 serviceimage2">

            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- Team -->
<!-- //testimonials -->
<!-- pricing -->
<!-- //pricing -->
<!-- contact map and address -->
<section class="contact py-5" id="contact">
    <div class="container">
        <div class="heading text-center">
            <i class="fas fa-cut"></i>
            <h3 class="heading mb-sm-5 mb-3 text-uppercase">Locate Us</h3>
        </div>
        <div class="contact-main-grid">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.94722638946!2d2.277020320550042!3d48.85883773941345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2sin!4v1524720355592"></iframe>
            </div>
            <div class="contact-info">
                <div class="mb-5">
                    <h4 class="mb-3">Address</h4>
                    <p><span class="fas fa-map mr-2"></span> 97 Man Thien, Quan 9, TP HCM</p>
                    <p>Paris, France.</p>
                    <p><span class="fas fa-phone mr-2"></span> +12 345 567 7890</p>
                    <p><span class="fas fa-envelope mr-2"></span> <a href="mailto:dinhtrancntt@gmail.com"> dinhtrancntt@gmail.com</a> </p>
                </div>
                <div class="">
                    <h4 class="mb-3">Opening Hours</h4>
                    <p><span class="fas fa-clock mr-2"></span> Monday – Friday : 9am - 6pm</p>
                    <p><span class="fas fa-clock mr-2"></span> Saturday and Sunday : 10am - 4pm</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact map and address -->
<!-- Appointment -->
<!-- <section class="appointment" id="appointment">
    <div class="test_agile_info py-5">
        <div class="container py-lg-3">
            <div class="heading text-center">
                <i class="fas fa-cut"></i>
                <h3 class="heading mb-sm-5 mb-3 text-uppercase">Make an Appointment</h3>
            </div>
            <div class="contact_grid_right">
                <form action="#" method="post">
                    <div class="contact_left_grid">
                        <div class="form-group">
                            <input class="form-control" type="text" name="Name" placeholder="Your Name" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="Email" placeholder="Your Email" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="phone" placeholder="Phone Number" required="">
                        </div>
                        <div class="form-group">
                            <input id="datepicker" name="Text" type="text" placeholder="Date Of Appointment" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                        </div>
                        <div class="form-group">
                            <textarea id="textarea" placeholder="Your Message Here"></textarea>
                        </div>
                        <input class="form-control" type="submit" value="Make An Appointment">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- //Appointment -->
<!-- footer section -->
<section class="newsletter text-center py-5">
    <div class="container py-lg-3">
        <div class="logo mb-5 text-center">
            <a class="navbar-brand" href="index.html">
                <i class="fas fa-cut"></i> Laundry <span> Best Laundry Shop</span>
            </a>
        </div>
        <div class="subscribe_inner">
            <i class="fas fa-cut"></i>
            <h4 class="mb-4">Subscribe Us</h4>
            <p class="mb-4">Subscribe to our Newsletter to get latest offers from our Laundry. </p>
            <form action="#" method="post" class="subscribe_form">
                <input class="form-control" type="email" placeholder="Enter Your Email..." required="">
                <button type="submit" class="btn1 btn-primary submit"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
            </form>
            <div class="social mt-5">
                <ul class="d-flex mt-4 justify-content-center">
                    <li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    <li class="mx-2"><a href="#"><span class="fab fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright mt-5">
            <p>© 2018 Laundry. All Rights Reserved | Design by	<a href="https://www.facebook.com/canhdinhptit/">dinhtrancntt@gmail.com</a> </p>
        </div>
    </div>
</section>